# NBA All-Star Weekend Challenge

Your task...answer the following questions given the dataset given about the NBA All-Star Game from the year 2000 - 2016

Become more familiar with the dataset <a href="https://www.kaggle.com/fmejia21/nba-all-star-game-20002016">here</a>

Once completed, commit this notebook to github and submit the link to the google classroom assignment.

<a href="https://classroom.google.com/u/2/c/NDc4MzEzMjI5Nzla/a/NTE3OTYxNzM2OTNa/details">Google Classroom</a>

# What is the average weight of all players who played during this time?

In [1]:
import pandas as pd
import numpy as np

In [26]:
data = pd.read_csv('NBA_All_Stars_2000-2016.csv', sep = ',')
all_weights = data['WT']
print(f'The average weight of all NBA All-Stars from 2000-2016 is: {round(all_weights.mean(),1)}')

The average weight of all NBA All-Stars from 2000-2016 is: 228.8

# What team is represented the most during this time?

In [37]:
data

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
1,2016,James Harden,SG,6-5,220,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States
2,2016,Kevin Durant,SF,6-9,240,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States
3,2016,Kawhi Leonard,F,6-7,230,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States
4,2016,Anthony Davis,PF,6-11,253,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States
...,...,...,...,...,...,...,...,...,...
434,2000,Antonio McDyess,F,6-9,245,Denver Nuggets,Western All-Star Coaches Selection,1995 Rnd 1 Pick 2,United States
435,2000,Gary Payton,G,6-4,180,Seattle SuperSonics,Western All-Star Coaches Selection,1990 Rnd 1 Pick 2,United States
436,2000,Rasheed Wallace,FC,6-11,230,Portland Trail Blazers,Western All-Star Coaches Selection,1995 Rnd 1 Pick 4,United States
437,2000,David Robinson,C,7-1,250,San Antonio Spurs,Western All-Star Coaches Selection,1987 Rnd 1 Pick 1,United States
438,2000,Vlade Divac,C,7-1,260,Sacramento Kings,Western All-Star Replacement Selection,1989 Rnd 1 Pick 26,Serbia

In [70]:
team_rep = data.groupby('Team', as_index = True)[['Player']].count()
team_rep.sort_values('Player', ascending=False).head(3)

                   Player
Team
Miami Heat             28
Boston Celtics         26
San Antonio Spurs      25

# What draft class is represeted the most during this time?

In [69]:
draft = data.groupby('NBA Draft Status', as_index=True)[['Player']].count()
draft

                    Player
NBA Draft Status
1984 Rnd 1 Pick 3        2
1985 Rnd 1 Pick 13       2
1987 Rnd 1 Pick 1        1
1988 Rnd 3 Pick 3        1
1989 Rnd 1 Pick 26       1
...                    ...
2012 Rnd 1 Pick 1        4
2012 Rnd 1 Pick 6        2
2012 Rnd 1 Pick 9        1
2012 Rnd 2 Pick 5        2
2013 Rnd 1 Pick 15       1

[123 rows x 1 columns]

# Are foriegn players more prevalent in the All-Star Game during this time?

In [114]:
foreign = data.groupby('Nationality', as_index=False).count()[['Player','Nationality']]
foreign

    Player                        Nationality
0        2                          Argentina
1        1                             Canada
2        8               Canada\nSouth Africa
3        8                              China
4        2   Democratic Republic of the Congo
5        4  Dominican Republic\nUnited States
6        2               England\nSouth Sudan
7        6                             France
8        2              France\nUnited States
9       13                            Germany
10       2             Germany\nUnited States
11       1                    Greece\nNigeria
12       2                          Lithuania
13       1                             Russia
14       1                             Serbia
15       3                     Serbia\nGreece
16       9                              Spain
17       1                             Turkey
18     365                      United States
19       4           United States\nAustralia
20       1             United States\nGermany
21       1               United States\nSpain

# How often are the Western All-Stars voted in by fans?

In [110]:
western = data.groupby('Selection Type', as_index = False)[['Player']].count()

western_fans = western['Player']
west_percent = western_fans[4]/western_fans.sum()
print(f'The percentage of players voted in by fans from 2000-2016 is: {round(west_percent,2)*100}%')

The percentage of players voted in by fans from 2000-2016 is: 19.0%

In [109]:
western

                           Selection Type  Player
0      Eastern All-Star Coaches Selection     119
1     Eastern All-Star Fan Vote Selection      85
2  Eastern All-Star Replacement Selection      16
3      Western All-Star Coaches Selection     119
4     Western All-Star Fan Vote Selection      85
5  Western All-Star Replacement Selection      15

# How many times does Steph Curry make the All-Star game during this time period?

In [160]:
appearances = data.groupby('Player', as_index=True)[['Player']].count()
steph = appearances['Player']
print(f'Steph Curry has appeared in {steph["Stephen Curry"]} All-Star games in between 2000 and 2016')

Steph Curry has appeared in 4 All-Star games in between 2000 and 2016

# How many Shooting Gaurds have made the All-Star game during this time?

In [171]:
position = data.groupby('Pos',as_index=True).count()
position

     Year  Player  HT  WT  Team  Selection Type  NBA Draft Status  Nationality
Pos
C      50      50  50  50    50              50                50           50
F      45      45  45  45    45              45                45           45
F-C     3       3   3   3     3               3                 3            3
FC     61      61  61  61    61              61                61           61
G      72      72  72  72    72              72                72           72
G-F     1       1   1   1     1               1                 1            1
GF     22      22  22  22    22              22                22           22
PF     57      57  57  57    57              57                57           57
PG     36      36  36  36    36              36                36           36
SF     35      35  35  35    35              35                35           35
SG     57      57  57  57    57              57                57           57

In [170]:
position = data.groupby('Pos',as_index=True).count()
sg = position['Player']

print(f'There have been a total of {sg["SG"]} Shooting Guards that have made the All-Star game between 2000 and 2016')

There have been a total of 57 Shooting Guards that have made the All-Star game between 2000 and 2016

# How many Chicago Bulls players have made the All-Star Game during this time period?

In [162]:
team_appearances = data.groupby('Team')[['Player']].count()
bulls = team_appearances['Player']
print(f'{bulls["Chicago Bulls"]} Bulls players have made the All-Star game between 2000 and 2016')

12 Bulls players have made the All-Star game between 2000 and 2016